@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;1,100&display=swap");

body {
  color: #dbe8d4;
  font-family: "Josefin Sans";
  background-image: linear-gradient(#222733, #2f394e);
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  border-radius: 2%;
  @media (max-width: 500px) {
    max-width: 70%;
  }
}

a {
  text-decoration: none;
  color: #dbe8d4;
}
a:hover {
  opacity: 0.6;
  color: #dbe8d4;
}

h2 {
  font-weight: bold;
  font-style: italic;
  font-size: 2rem;
}

h2,
h3 {
  margin-top: 10vh;
}

h3 {
  font-weight: bold;
  margin-bottom: 10vh;
}

h3::after {
  content: "";
  display: block;
  bottom: 0;
  width: 14rem;
  height: 4px;
  background-color: #525e65;
  margin-top: 5vh;
}

nav {
  background-color: #525e65;
  height: 8vh;
  box-shadow: 0 7px 20px 0 rgb(0 0 0 / 20%);
  width: 100%;
  position: fixed;
  top: 0;
  a {
    text-decoration: none;
    color: inherit;
    margin: auto 15px;
    padding: inherit;
    height: 100%;
    font-size: 1.6rem;
    cursor: pointer;
    @media (max-width: 500px) {
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
  a:hover {
    color: #73cca8;
    border-bottom: 4px solid #73cca8;
  }
}

header {
  line-height: 1;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  h1 {
    font-weight: 100;
    font-size: 5rem;
    font-style: italic;
    font-weight: bold;
    margin-top: 12vh;
    overflow-wrap: break-word;
    @media (max-width: 500px) {
      font-size: 2.5rem;
    }
  }

  h2 {
    margin-top: 2vh;
    font-size: 1.2rem;
    font-weight: bold;
    @media (max-width: 500px) {
      font-size: 0.9rem;
    }
  }
}

p {
  width: 28rem;
  margin-top: 7vh;
  line-height: 2.2;
  text-align: justify;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: Titillium Web;
  @media (max-width: 500px) {
    width: 80%;
    text-align: center;
  }
}

footer {
  margin-top: 10vh;
  font-size: 2rem;
  background-color: #2e3445;
  padding: 2vh;
  h2 {
    height: auto;
    margin-top: 0;
  }
  a {
    text-decoration: none;
    margin-right: 3vh;
  }
}

.image-me {
  width: 10vw;
  margin-top: 7vh;
  cursor: pointer;
  @media (max-width: 500px) {
    width: 30vw;
  }
}

#formacao {
  a {
    color: #73cca8;
  }
}
